.container{
    transition: ease-in-out 0.2s;
    border: 1px solid transparent;
    &:hover{
        background-color: var(--clr-dark-transparent);
        border-color: var(--clr-light-transparent);
    }
}

.border{
    border-bottom: 1px dashed var(--clr-light-transparent);
    padding: 0.3rem 0;

    &:hover{
        border-color: var(--clr-main);
    }
}

.pointer{
    cursor: pointer;
}

.selected{
    border-color: var(--clr-light-transparent);
    border-bottom: 1px dashed var(--clr-light);
    background-color: var(--clr-dark-transparent);
}