.container {
    display: flex;
    padding: 0.4rem 0;
    progress {
        width: 100%;
        height: 8px;
        background: crimson;
    }
        
    progress::-webkit-progress-value {
        background: var(--clr-green);
    }

    progress::-webkit-progress-bar {
        background: var(--clr-red);
    }
}
  