.container{
    width: 100%;
    cursor: pointer;
    
    &:hover{
        border-color: var(--clr-main);
    }

    div{
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0;
        align-items: center;
    }

    svg{
        display: flex;
        cursor: pointer;
    }

    small{
        text-align: left;
        display: block;
        color: var(--clr-light);
    }
}