.container{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    gap: 0.5rem;
    grid-template-areas: 
    "control" "trades"
    ;

    .trades, .control{
        padding: 0.5rem;
    }

    .control{
        grid-area: "control";
        min-width: 220px;
    }

    .trades{
        grid-area: "trades";
    }
}