.container{
    display: flex;

    a, button{
        align-items: center;
        justify-content: center;
        display: flex;
        min-height: 30px;
        min-width: 30px;
        border-bottom: 2px solid transparent;
        transition: 0.5s ease-in-out;
        padding: 0.5rem;

        &:hover{
            background-color: var(--clr-dark-transparent);
            border-bottom-color: var(--clr-main) ;
        }
    }

    svg{
        font-size: 1.5rem;
        display: flex;
    }

    .selected{
        background-color: var(--clr-light-transparent);
        border-bottom-color: var(--clr-light-transparent) ;
    }

}