.container{
    border: 1px solid var(--clr-light-transparent);
    background-color: var(--clr-light-transparent);
    border-radius: 5px;
    margin-bottom: 0.5rem;

    &:hover{
        border-color: var(--clr-main);
    }
    
    .button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.5rem;
        
        span{
            font-weight: 200;
        }
        small{
            font-weight: 400;
        }

        svg{
            display: flex;
        }
    }

    .open{
        transition: 0.5s;
        rotate: 90deg;
    }
    .closed{
        transition: 0.5s;
        rotate: 0deg;
    }
}