.container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-background);
    border-bottom: 1px solid var(--clr-light-transparent);
    z-index: 1;

    .right, .left{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}